html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 130vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 3fr;
  grid-template-areas:
    "sidebar header header" "sidebar main side-content"
    "sidebar main side-content";
}

.sidebar {
  background-color: #1c4e80;
  color: #ffffff;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 1fr 3fr 5fr;
}

.sidebar i {
  padding-right: 10px;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 20px 0 0 30px;
  letter-spacing: 2px;
}

.navigation ul,
.options ul {
  list-style-type: none;
  padding-left: 35px;
}

.navigation ul li,
.options ul li {
  padding: 9px 0 9px 0;
  font-size: 1.1rem;
  font-weight: 600;
}

header {
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr 1.7fr;
  box-shadow: 3px 3px 4px #7e909ac4;
  z-index: 1;
}

.search-tab {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 10px;
  width: 95%;
}

.search-bar {
  grid-column: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-bar i {
  padding-right: 20px;
  font-size: 1.2rem;
  color: #202020;
}

.search-bar input {
  padding: 0 10px 0 10px;
  border: none;
  width: 80%;
  border-radius: 15px;
  background-color: #f1f1f1;
  height: 27px;
}

.account {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.account img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.account p {
  font-weight: bold;
}

.account i {
  font-size: 1.2rem;
  color: #202020;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  width: 90%;
}

.profile-pic {
  align-self: center;
  justify-self: end;
  padding-right: 20px;
}

.profile-pic img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-weight: 700;
}

.profile-info span {
  font-size: 0.75rem;
}

.profile-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

.profile-buttons button {
  width: 80px;
  padding: 10px 0;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  background-color: #1c4e80;
  font-weight: 600;
}

main {
  grid-area: main;
  padding: 25px 15px;
  background-color: #f1f1f1;
}

.main-container {
  padding: 10px 20px 30px 0;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.main-card {
  border-left: 8px solid #ea6a47;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px 20px 0 20px;
  box-shadow: 2px 2px 4px #7e909ac4;
}

.main-card p {
  color: #7e909a;
}

.card-icons {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.card-icons i {
  padding: 10px;
  font-size: 1.2rem;
  color: #202020;
}

.side-content {
  grid-area: side-content;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 35px;
  padding: 25px 20px 20px 0;
  background-color: #f1f1f1;
}

.announcements-container h3,
.trending-container h3 {
  color: #202020;
  padding-bottom: 10px;
}

.announcements {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 2px 2px 4px #7e909ac4;
}

.announcements p {
  color: #7e909a;
  font-size: 0.85rem;
  padding-bottom: 10px;
}

.announcements h5 {
  color: #202020;
  font-size: 0.9rem;
  padding-top: 10px;
}

.trending {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 2px 2px 4px #7e909ac4;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 27px;
}

.trending p {
  color: #7e909a;
  font-size: 0.85rem;
}

.trending h5 {
  color: #202020;
  font-size: 0.9rem;
}

.trending-profile {
  display: flex;
  gap: 20px;
}

.trending-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "header" "main" "side-content" "sidebar";
  }

  header {
    grid-template-rows: 1fr 2fr;
  }

  .profile {
    justify-self: center;
    padding: 15px 0;
  }
  .account {
    gap: 10px;
  }

  .search-bar {
    padding-right: 10px;
  }

  .search-tab {
    justify-self: center;
  }

  .main {
    padding: 0;
  }

  main > h3 {
    text-align: center;
    font-size: 1.3rem;
  }

  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 200px);
    padding: 25px 15px 15px 15px;
  }

  .side-content {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 15px;
  }

  .announcements-container,
  .trending-container {
    padding: 15px;
  }

  .announcements-container h3,
  .trending-container h3 {
    padding-bottom: 15px;
    text-align: center;
    font-size: 1.3rem;
  }

  .announcements {
    padding: 40px 30px;
  }

  .announcements p {
    font-size: 0.95rem;
    padding-bottom: 35px;
  }

  .announcements h5 {
    padding-top: 35px;
    font-size: 1.1rem;
  }

  .trending {
    padding: 40px 30px;
    gap: 50px;
  }

  .trending p {
    font-size: 0.95rem;
  }

  .trending h5 {
    font-size: 1.1rem;
  }

  .trending-profile img {
    width: 50px;
    height: 50px;
  }

  .sidebar {
    grid-template-rows: auto;
    padding: 20px;
  }

  .sidebar i {
    padding: 10px;
  }

  .logo {
    letter-spacing: 2px;
    text-align: left;
    padding: 20px 5px;
  }

  .navigation ul,
  .options ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
  }

  .navigation ul li,
  .options ul li {
    padding: 10px;
    font-size: 1.25rem;
  }
}
